/* Estilo del botón home */
.leaflet-bar .btns-control {
    display: block;
    width: 36px;
    height: 40px;
    line-height: 32px; /* Centrar verticalmente el ícono */
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    margin-bottom: 2px;
    font-size: 18px; /* tamaño del ícono */
    color: #333;
    cursor: pointer;
}

.leaflet-bar .btns-control:hover {
    background-color: #f0f0f0;
    color: #000;
}
